<div>
  <h3>Create a New Researcher</h3>
  <form #newresearcherForm="ngForm"  (ngSubmit)="save(newresearcherForm)">
        <div class="form-group">
          <label for="first">First</label>
          <input #first name="first" class="form-control" [(ngModel)]="researcher.first">
          <br>
          <label for="last">Last</label>
          <input #last name="last" class="form-control" [(ngModel)]="researcher.last">
          <br>
          <label for="address">Address</label>
          <input #address name="address" class="form-control" [(ngModel)]="researcher.address">
          <br>
          <label for="city">City</label>
          <input #city name="city" class="form-control" [(ngModel)]="researcher.city">
          <br>
          <label for="state">State</label>
          <input #state name="state" class="form-control" [(ngModel)]="researcher.state">
          <br>
        </div>
        <button type="submit">CREATE</button>
      </form>
    </div>
